@model IEnumerable<Topic>

@{
    ViewBag.Title = "Tilgjengelige emner";
}

<h1>@ViewBag.Title</h1>

@foreach (var topic in Model)
{
    @Html.Partial("_TopicSummary", topic)
}

<!--<div>
    <a class="btn btn-primary" asp-action="Create">Create</a>
</div>-->
