@model IEnumerable<Topic>

@{
    ViewBag.Title = "Tilgjengelige emner";
}

<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-xs-4 text-right">
            <h1>[ @Model.Count() ]</h1>
        </div>    
    </div>
</div>

@foreach (var topic in Model)
{
    @Html.Partial("_TopicSummary", topic)
}

<!--<div>
    <a class="btn btn-primary" asp-action="Create">Create</a>
</div>-->
