@model IEnumerable<TeamViewModel>

@{
    ViewBag.Title = "Lag";
}

<h1>@ViewBag.Title</h1>

@foreach (var team in Model)
{
    @Html.Partial("_TeamSummary", team)
}

<!--<div>
    <a class="btn btn-primary" asp-action="Create">Create</a>
</div>-->
