@model IEnumerable<QuestViewModel>

@{
    ViewBag.Title = "Available Quests";
}

<h1>@ViewBag.Title</h1>

@foreach (var quest in Model)
{
    @Html.Partial("_QuestSummary", quest)
}

<div>
    <a class="btn btn-primary" asp-action="Create">Create</a>
</div>
