@model LoginViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Logg inn";
}
<h1>@ViewBag.Title</h1>

<section class="panel panel-default">
    <h3 class="panel-heading">Oppgi brukernavn:</h3>
    <div class="panel-body">
        
        <form method="post" asp-anti-forgery="true">
            <div class="text-warning" asp-validation-summary="ModelOnly"></div>

            
            
                <div class="feideUser">
                    <img src="~/images/nokkelhull-48px.png" alt="feide logo">
                    <input class="form-control input-lg" asp-for="Username" />
                    <label class="text-left" asp-for="Username"></label>
                    <span class="text-warning" asp-validation-for="Username"></span>
                    <input class="btn btn-success btn-lg" type="submit" value="Neste" />
                </div>
                

           
            <!--<div>
                <label asp-for="RememberMe"></label>
                <input asp-for="RememberMe" />
                <span asp-validation-for="RememberMe"></span>
            </div>-->
            
            
        </form>
    </div>
</section>