@model LoginViewModel

@{
    ViewBag.Title = "Logg inn";
}
<h1>@ViewBag.Title</h1>

            

<section class="panel panel-default">
    <h3 class="panel-heading">Universitetet i Agder</h3>
    <div class="panel-body">
        
        <form method="post" asp-anti-forgery="true">
            <div class="text-warning" asp-validation-summary="ModelOnly"></div>
                
                <div class="container-fluid">                   
                   
                    <!--<div class="row">
                        <div class="col-xs-9"><input class="form-control" asp-for="Username" /></div>                                          
                        <label class="col-3" asp-for="Username"></label>
                    </div>
                    <div class="row">
                        <div class="col-xs-12"><span class="text-warning" asp-validation-for="Username"></span></div>
                    </div>

                    <br>-->
                    
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-lg btn-default col-xs-12" type="submit">
                                <img src="~/images/nokkelhull-48px.png" alt="feide logo">  Logg inn
                            </button>
                        </div>
                    </div> 

                </div>
           
            <!--<div>
                <label asp-for="RememberMe"></label>
                <input asp-for="RememberMe" />
                <span asp-validation-for="RememberMe"></span>
            </div>-->
            
        </form>
    </div>
</section>